<h1 class="text-center">All Articles</h1>
<div class="col-xs-offset-2">
  <%= link_to "Create an article", new_article_path, class:"btn btn-primary" %>
</div>
<br>
<% if @articles %>
  <div align="center">
    <%= will_paginate %>
  </div>
  <div class="row">
    <div class="col-xs-8 col-xs-offset-2">
      <% @articles.each do |article| %>
      <div class="well wll-lg">
          <div class="article-title">
            <%= link_to article.title, article %>
          </div>

          <div class="article-description">
            <%= truncate(article.description, length:100) %>
          </div>
          <div class="article-description-details">
            <small>Created by: <%= article.user.username %>, <%= time_ago_in_words(article.created_at) %> ago</small>
          </div>
      </div>
      <% end %>
    </div>
  <div align="center">
    <%= will_paginate %>
  </div>
<% else %>
  <p>
    There aren't any articles yet.  <%= link_to "Add One Now", new_article_path %>
  </p>
<% end %>
