<h2 class="text-center"><%= @article.title %></h2>

<div class="well col-xs-8 col-xs-offset-2">
  <%= simple_format(@article.description) %>
  <hr>
  <div class="text-center">
    <%= link_to "Edit Article", edit_article_path(@article) %> |
    <%= link_to "Delete Article", @article, method: :delete, data: { confirm: "Are you sure?" } %> |
    <%= link_to "Back to All Articles", articles_path %>
  </div>
</div>
