<h2 align="center">Welcome to <%= @user.username %>'s profile page</h2>
<div class="row">
  <div class="col-md-4 col-md-offset-4" align="center">
    <%= gravatar_for @user, size: 150 %>
  </div>
</div>

<h4 class="text-center">Articles</h4>

<% if @user_articles.any? %>
  <div align="center">
    <%= will_paginate @user_articles %>
  </div>
  <div class="row">
    <div class="col-xs-8 col-xs-offset-2">
      <% @user_articles.each do |article| %>
      <div class="well wll-lg">
          <div class="article-title">
            <%= link_to article.title, article %>
          </div>

          <div class="article-description">
            <%= truncate(article.description, length:100) %>
          </div>
          <div class="article-description-details">
            <small>Created by: <%= article.user.username %>, <%= time_ago_in_words(article.created_at) %> ago</small>
          </div>
      </div>
      <% end %>
    </div>
  </div>

  <div align="center">
    <%= will_paginate @user_articles %>
  </div>
<% else %>
  <p>
    <%= @user.username %> hasn't added any articles yet!
  </p>
<% end %>
<% if current_user == @user || current_user.admin? %>
  <%= link_to 'Edit', edit_user_path(@user) %> |
<% end %>
<%= link_to 'Back', users_path %>
