<h1 align="center">Category: <%= @category.name %></h1>
<% if logged_in? && current_user.admin? %>
  <div class="row" align="center">
    <span class="badge"><%= link_to "Edit Category", edit_category_path(@category) %></span>
  </div><br>
<% end %>
<div align="center">
  <%= will_paginate @category_articles %>
</div>
<% @category_articles.each do |article| %>
  <%= render 'articles/article', article: article %>
<% end %>
<div align="center">
  <%= will_paginate @category_articles %>
</div>
